.edit-profile-modal {
  padding: 1.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  height: fit-content;
  background: var(--secondary-color);
  z-index: 5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.edit-profile-modal-active {
  opacity: 1;
}

.edit-profile-header {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-5);
}

.edit-profile-close {
  font-size: var(--font-size-5);
}

.edit-avatar,
.bio,
.website {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.edit-profile-img-container img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
}

.avatar {
  position: relative;
}

.avatar svg {
  position: absolute;
  font-size: var(--font-size-4);
  right: -1.5rem;
  bottom: -1rem;
  background: var(--secondary-color);
  border-radius: 50%;
}

.edit-profile-text {
  font-size: var(--font-size-5);
}

.bio textarea {
  margin-left: 3rem;
  padding: 1rem;
  height: 8rem;
  resize: none;
  width: 100%;
  border: 1px solid var(--lynx-gray-color);
  border-radius: 5px;
}

.website input {
  margin-left: -1.5rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
}

.bio textarea:focus,
.website input:focus {
  outline: 1px solid var(--primary-color);
}
