.suggestions-container {
  background-color: var(--secondary-color);
  padding: 2rem;
  border-radius: 10px;
  height: fit-content;
  min-width: fit-content;
  position: sticky;
  top: 12rem;
}

.suggestions-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.suggestions-title {
  font-size: var(--font-size-5);
  margin-bottom: 2rem;
}

.suggestions-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.suggestions-info {
  font-size: var(--font-size-5);
  text-align: center;
  padding: 0 1rem;
}

.suggestions-follow {
  font-size: var(--font-size-3);
  border-radius: 50%;
  padding: 0.5rem;
}

.suggestions-follow:hover {
  color: var(--primary-color);
  background-color: var(--lynx-purple-color);
}

.user-details {
  display: flex;
  cursor: pointer;
}

.user-initials {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: var(--font-size-6);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  font-weight: var(--font-weight-3);
}

@media (max-width: 768px) {
  .suggestions-container {
    display: none;
  }
}
